<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cashit.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CashIt</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <gap:plugin name="cordova-plugin-spinnerdialog" source="npm" />
    <engine name="ios" spec="^4.5.4" />
    <engine name="browser" spec="^5.0.3" />
    <engine name="android" spec="^7.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-native-transitions" spec="^0.2.3" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="cordova-plugin-facebook4" spec="^2.1.0">
        <variable name="APP_ID" value="1916831788607461" />
        <variable name="APP_NAME" value="CashOut" />
        <variable name="ANDROID_SDK_VERSION" value="4.+" />
    </plugin>
    <plugin name="cordova-plugin-native-spinner" spec="^1.1.3" />
    <plugin name="cordova-plugin-spinner-dialog" spec="^1.3.1" />
    <plugin name="cordova-plugin-pin-dialog" spec="^0.1.3" />
    <plugin name="cordova-plugin-password-dialog" spec="^1.2.0" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
</widget>
